
/* CONTACT TEXT OVER PIC BANNER */


.contact-banner {
    position: relative;
}

.contact-banner img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.contact-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.contact-text h1 {
    font-size: 48px;
}

.contact-section {
    padding: 80px 0;
    background: #fff;
}

/* Box spacing */
.contact-box {
    align-items: stretch;
}

/* LEFT FORM */
.contact-form {
    border: 1px solid #e6e6e6;
    padding: 40px;
}

.contact-form h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

.contact-form button {
    background: black;
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* RIGHT INFO */
.contact-info {
    border: 1px solid #e6e6e6;
    padding: 40px;
    height: 100%;
}

.info-box {
    margin-bottom: 30px;
}

.info-box h5 {
    font-weight: 600;
    margin-bottom: 5px;
}

.info-box p {
    color: #666;
    margin: 0;
}

/* MAP */


.map-contact {
   width: 100%;
    height: 300px;        
    overflow: hidden;
}
.map-contact iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}





